footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgb(19, 19, 20);
}

.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80%;
}

.footer_container span {
    color: aliceblue;
}

.footer_container a {
    color: aliceblue;
}

.contacts_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contacts_container ul li{
    list-style-type: none;
    margin: 10px 0;
}
