header{
    background-color: rgb(19, 19, 20);
}

.header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.header_text{
    color: aliceblue;
}

.header_links{
    color: aliceblue;
}

.header_nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header_container button{
    background-color:rgb(30, 30, 34);
    border: none;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}